body,html{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

header{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
}

header div{
	font-size:40px;
	font-style:bold;
}

header>div{
	display:flex;
	align-items: flex-start;
}

main{
	margin-top: 20px;
}

#aqui{
	height:100px;
	width:100px;
}

footer>div{
	height:100px;
	width:100%;
	background-color: purple;
}